*{
    margin: 0;
    padding: 0;
}


body{
    
    background-image: url(img/images/pattern-background-desktop.svg);
    background-size:contain;
    background-position: center;
    background-color: rgb(198, 210, 235);
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900; 
}

body p, h3, a , button{
    font-size: 16px;
    
}

/* iMAGEM---------------------------------
--------------------------------------*/
.conteiner{   
    align-items: center;  
    background-color:white;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    width: 450px;
    height: 700px;
    margin: 10px;

}

#foto{
    width: 450px;
    height: 230px;
    border-radius: 25px 25px 0 0;
}

.conteiner-tex{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 450px;
    height: 150px;
    background: white;
}

.conteiner-tex h2{
    padding: 10px 0 20px;
}

.conteiner-tex h2, p{
    text-align: center; 
}

.conteiner-tex p{
    color:#808080;           
    line-height: 1.5;
    font-weight: 400;
}

/* PLANO DE MUSIC ---------------------------------
--------------------------------------*/


.conteiner-plan{
    background-color:rgb(248, 245, 245);
    border-radius: 20px;
    box-sizing: border-box;
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#music{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70px;
    height: 90px;
    margin-left: 20px;
}

#music img{
    width: 60px;
    margin: 10px;
}

.conteiner-plan #plan{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:150px;
    height: 90px;
    margin-left:0;
    margin-right: 20px;
   
}

.conteiner-plan #plan  p{

    color:#808080;           
    line-height: 1.5;
    font-weight: 400;
    
}

.conteiner-plan #plan h3, p {
    margin-right: 20px;
}

.conteiner-plan #link{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 90px;
    margin-right: 30px;
    margin-left: 30px;
}

.conteiner-plan #link a{
    color:blue;
    cursor:pointer;
    text-decoration: none;
}

/* bottom ---------------------------------
--------------------------------------*/

.Payment{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 50px;
    margin: 20px;
  
}

.Payment #buttom{
    background-color: rgb(119, 68, 201);
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 350px;
    height: 50px;
    margin: 5px;
    box-shadow: #8a96a3 0px 15px 40px ;
    cursor: pointer;
}


/* cancelamente ----------------------------------------------------------
------------------------------------- */

.cancel{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin: 10px;
}

.cancel a{
    color:black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

}